 .headerOfSolutions {
     text-align: center;
     padding: 40px 0;
     background: linear-gradient(#243b55, #141e30);
     color: red;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
 }


 .headerOfSolutions>h1 {
     font-size: 28px;
     margin: 10px 0;
     font-family: Garamond, serif;
     font-weight: 600;
 }

 .containerOfSOLN {
     margin-top: 5%;
 }

 .row1-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 20px;
 }

 .row2-container {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }

 .box {
     text-align: center;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 8px;
     margin: 10px;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .box h2 {
     font-size: 20px;
     margin: 10px 0;
 }

 .box p {
     font-size: 16px;
     color: #555;
     margin: 10px 0;
 }

 .box img {
     width: 60px;
     height: 60px;
 }

 .solutions_Footer {
     text-align: center;
     padding: 20px 0;
     background-color: #007bff;
     color: #fff;
 }

 .attribution a {
     color: #fff;
     text-decoration: none;
 }

 .attribution a:hover {
     text-decoration: underline;
 }