.table-container {
    padding: 0px 20px;
    margin-top: 5vh;
    position: relative;
    overflow-y: scroll !important;
    overflow: scroll;
}


.table-container Table {
    width: 75vw;
}

.DashboardTitle {
    font-size: x-large;
    left: 49px;
    margin-bottom: 20px;
}

.tbodyDash .even {
    background-color: #f2f2f2 !important;
}

.tbodyDash .odd {
    background-color: white !important;
}

.tbodyDash td {
    background-color: transparent;
}

.DashTableHead {

background: linear-gradient(rgb(36, 59, 85), rgb(20, 30, 48));
    border-left: 1px solid black;
    color: white !important;
    font-size: 1rem;
    font-family: monospace;
}

.EditProductDash>Modal {
    display: flex;
    align-items: center;
    justify-content: center;

}

.table-scroll {
    height: 70vh;
    overflow-y: scroll !important;
    /* border: 1px solid black; */

}

.DashboardAction {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.DashboardAction>button {
    border: none;
    background: none;
}




@media (max-width: 600px) {
    .DashboardTitle {

        font-size: small;

    }

    .table-container {
        padding: 0px 20px;
        overflow-x: scroll !important;
        width: 80vw;
    }
}