.mainProductContainer {
  height: 100%;
  width: 100%;

}



.mobile-carousel-container {
  width: 100%;
  padding: 0;
  margin-top: 5vh;
}

.HomepageWhoWeAre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.AllBTN {
  color: black;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.AllBTN:hover{
  background-color: white;
  color:#ff5e14;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1s;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active {
  transform: translateX(0);
}


.HeadingStyles h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.HeadingStyles h1:before {
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.HeadingStyles h1:after {
  background-color: #c50000;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}