/* ContactUsForm.css */
.contact-us-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-title {
  text-align: center;
  font-family: Garamond, serif;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.contact-form {
  flex: 1;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid black;
  background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.4) 100%), url(../Sources/picture-two-electrical-engineers-checking-electrical-work-using-computer-standing-power-station-see-planning-work-high-voltage-electrodes_140555-3.avif) no-repeat no-repeat center center/cover;
  margin-bottom: 5%;
  color:black;
}

.contact-details {
  flex: 1 1px;
  padding: 20px;
  border: 1px solid black;
  font-family: Garamond, serif;
  height: 44vh;
  background: linear-gradient(to left, rgba(228, 84, 7, 0) 0%, rgba(112, 0, 152, 1) 271%);
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .contact-form{
    margin-top: 2%;
  }
  
}

@media (max-width: 768px) {
  .contact-form,
  .contact-details {
    flex: 1 100%;
    margin-right: 0;
  }
}
