/* ContactUsForm.css */
.contact-us-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-title {
  text-align: center;
  font-family: serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  padding: 10px;
}

.contactButton {
  background: #7079f0;
  color: white;
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1.0em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}

.contact-form {
  flex: 1;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid black;
  background: linear-gradient(rgb(36, 59, 85), rgb(20, 30, 48));
  margin-bottom: 5%;
  color: white;
  border-radius: 10px;
  font-size: 14px;
}

.contact-details {
  border-radius: 10px;
  flex: 1 1px;
  padding: 20px;
  border: 1px solid black;
  font-family: Garamond, serif;
  height: 50vh;
  color: white;
  background: linear-gradient(rgb(36, 59, 85), rgb(20, 30, 48));
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .contact-form {
    margin-top: 2%;
  }

}

@media (max-width: 768px) {

  .contact-form,
  .contact-details {
    flex: 1 100%;
    margin-right: 0;
  }
}