.manual-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-slider {
  display: flex;
  transition: transform 0.3s;
}

.carousel-slide {
  flex: 0 0 100%;
  min-width: 100%;
  height: 100vh;
}

.carousel-slide img {
  max-width: 100%;
  height: 100vh;
  display: block;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:hover,
.next-button:hover {
  background-color: #555;
}

.manual-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  overflow: hidden;
}

.carousel-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  min-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
  font-size: 12px;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:hover,
.next-button:hover {
  background-color: #555;
}
