.loginBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #080710;
}

.Login_section {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  position: relative;
  right: 20%;
  height: 82%;
  font-size: 14px;
  box-shadow: rgb(255, 255, 255) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.switchTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loginTab,
.registerTab {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.loginTab.active,
.registerTab.active {
  background-color: #007bff;
  color: #fff;
}

.loginTab:focus,
.registerTab:focus {
  outline: none;
}

.loginTab:hover,
.registerTab:hover {
  background-color: #ddd;
  color: #000;
}

.loginErrorAmin {
  width: 80px;
  height: 80px;
}


.errorModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.errorModalContent {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.errorModalContent h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff0000;
}

.errorModalContent p {
  font-size: 16px;
  color: #333;
}

.errorModalContent button {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.errorModalContent button:hover {
  background: #cc0000;
}


.registerCard {
  text-align: center;
  margin-top: 10%;
}


.switchTabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-svg {
  position: absolute;
  top: 8%;
  left: 20%;
  width: 60%;
}

.LoginCard {
  text-align: center;
  margin-top: 10%;
}

.LoginInput {
  margin: 10px 0;
}

.inputLabel {
  display: block;
  text-align: start;
  color: #03232F;
}

.login_input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginBTN>button {
  width: 100%;
  border: 1px solid #00ADEE;
  background-color: #00ADEE;
  color: #FCFCFC;
  padding: 0.5em 0;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 5%;
}



.loginErrorPopup p {
  font-size: .9rem;
}

.loginErrorPopupBtn {
  width: 60px;
  outline: none;
  background-color: #00ADEE;
  border: 1px solid #00ADEE;
  color: #fff;
  padding: .25em 1em;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}


.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.forgot_pass {
  font-size: 12px;
  color: #949EBB;
  cursor: pointer;

}

.LoginFooter {
  margin: 4px 0;
  font-size: 12px;
  color: #949EBB;
  margin-top: 7vh;
}

.LoginFooter>p {
  margin-top: 3%;
}


.footer_text {
  margin: 4px 0;
  font-size: 12px;
  color: #949EBB;
  margin-top: 15%;
}

.mandatory_span {
  color: #ED7B00;
}

.remember_me {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
}

.login_checkbox {
  cursor: pointer;
}

.passwordShowAndHide {
  position: absolute;
  margin-left: -5%;
  margin-top: 3%;
  color: #5C5C5C;
}

@media (max-width: 768px) {
  .Login_section {
    right: 0;
    height: 70%;

  }

  .LoginInput {
    margin: 8px 0;
  }

  .inputLabel {
    text-align: left;
  }

  .top-svg {
    position: absolute;
    top: 7%;
    left: 20%;
    width: 60%;
  }
}

@media (max-width: 900px) {
  .Login_section {
    right: 0;
    height: 70%;

  }

  .LoginInput {
    margin: 8px 0;
  }

  .inputLabel {
    text-align: left;
  }

  .top-svg {
    position: absolute;
    top: 7%;
    left: 20%;
    width: 60%;
  }
}