.grey-bg {
    padding: 20px;
}

.card {
    background-color: #993838;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;




}

.card :hover {
    /* background: #eaeaea; */
    transform: translateY(-1px);

}

.text-uppercase {
    text-align: center;
    margin: 10px;
    font-family: Garamond, serif;
    font-weight: 500;
    font-size: 3rem;
}


.text-down {
    text-align: start;
    margin: 10px;
    font-family: Garamond;
    font-weight: 300;
    font-size: 1rem;

}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card span {
    font-size: 14px;
    color: #666;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .media {
    display: flex;
    align-items: center;
}

.card i {
    font-size: 36px;
    margin-right: 15px;
}

#minimal-statistics h4,
#stats-subtitle h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

#minimal-statistics p,
#stats-subtitle p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

 .primary {
    background-color: #007bff;
    color: #fff;
}

.info {
    background-color: #17a2b8;
    color: #fff;
}

.danger {
    background-color: #dc3545;
    color: #fff;
}

.success {
    background-color: #28a745;
    color: #fff;
}